block scripts
    script(type="text/javascript", src="/javascripts/jquery.textarea.js")

    script
        $(function(){
            $('.submit, .preview').button();
            $('#editArticleBody').tabby();

            //Loading status
            $('#loading').hide().ajaxStart(function(){
                $(this).show();
            }).ajaxStop(function(){
                $(this).hide();
            });

            //Preview
            $('.preview').click(function(event){
                $('.post_content_body').html('');
                $.ajax({
                    url: '/s/article/preview',
                    dataType: 'html',
                    type: 'POST',
                    data: {body: $('#editArticleBody').val()},
                    success: function(data) {
                        console.log(data);
                        $('.post_content_body').html(data);
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        console.error('preview fail: ' + textStatus + ': ' + errorThrown);
                        $('.post_content_body').text('preview fail');
                    }
                });
            });

            //auto saving
            function _getArticle() {
                return {
                     id: $('input[name=id]').val(),
                     body: $('#editArticleBody').val(),
                     title: $('#editArticleTitle').val()
                };
            }

            var oldArticle = _getArticle();

            function autoSave() {
                var newArticle = _getArticle();
                var isChanged = false;
                for (var p in newArticle) {
                    if (newArticle[p] != oldArticle[p]) {
                        isChanged = true;
                        break;
                    }
                }

                if (!isChanged) {
                    return false;
                }

                $.ajax({
                   url: '/s/article/autoSaveArticle',
                   dataType: 'json',
                   type: 'POST',
                   data: newArticle,
                   success: function (data) {
                       console.log(data);
                       $('input[name=id]').val(data._id);
                       oldArticle = _getArticle();
                   },
                   error: function(jqXHR, textStatus, errorThrown) {
                       console.error('Save error: ' + textStatus + ': ' + errorThrown);
                       $('#loading').text('auto save error');
                   }
               });
            }

            setInterval(autoSave, 60*1000); //1 min
        });

.post_form
    form( method="post", action="/blog/upsert")
        input.text.ui-corner-all(type="hidden", name="id", value=article._id)

        span.label Title
        input.text.ui-corner-all(type="text", name="title", id="editArticleTitle", value=article.title)

        span.label Category
        select.text.ui-corner-all(name="cid", id="cid", value=article.cid)
            each category in categories
                option(value="#{category.cid}", selected=category.cid == article.cid ? "selected" : null)=category.title

        span.label Content
        textarea.text.ui-corner-all(name="body", rows=40, id="editArticleBody")!= article.body

        a#post-cancel(href='/', style='float:right') Back To Home
        input.preview(type="button", value="Preview")
        input.submit(type="submit", value="Submit")

    .post_section
        .post_content
            .post_content_body

#loading Loading
