extends ./layout/basic_layout

block content_right
      div.post_section
        h2.post_section_title=article.title

        div.post_content
            div.post_content_header!= article.created_at
            div.post_content_body!= article.body

            div.post_content_footer
                a.first(href="/blog/"+article._id.toHexString()) Comments(#{article.comments.length})

                if !readOnly
                    a#blogDelete(href="/blog/delete/"+article._id.toHexString())!= "Delete"
                    a(href="/blog/upsert/"+article._id.toHexString())!= "Edit"

                #post-content-footer-adv
                    script(type="text/javascript")
                        document.write("<iframe name='banner' src='http://referrals.appfog.com/scripts/banner.php?a_aid=17910715&a_bid=732d756d&w=1' framespacing='0' frameborder='no' scrolling='no' width='580' height='90' allowtransparency='true'><a href='https://phpfog.com?a_aid=17910715&amp;a_bid=732d756d' target='_top'>Deploy This On PHP Fog Banner</a></iframe>");
                    noscript
                        h2
                            a(href="https://phpfog.com") Deploy This On PHP Fog Banner

      - each comment in article.comments
        div.comment
            span.author=comment.person
            div.comment-content=comment.comment

      div.comment
        form.comment-form(method="post", action="/blog/addComment")
          input( type="hidden", name="_id", value=article._id.toHexString())
          div
            span Author :
            input.comment-field(type="text", name="person", id="addCommentPerson")
          div
            span Comment :
            textarea.comment-field(name="comment", rows=5, id="addCommentComment")
          div#editArticleSubmit
            input(type="submit", value="Submit")
