extends ./layout/basic_layout

block scripts
    script
        $(function(){
           $('#blogDelete').easyconfirm();
        });

block content_right
    // TODO
    // #templatemo_slider

    div.post-new
        if !readOnly
            a(href="/blog/upsert")!= "+ New"

    - each article in articles
      div.post_section
        div.datetime
            .top
                - var days = ['日', '一', '二', '三', '四', '五', '六'];
                p!='星期' + days[article.created_at.getDay()]
            .btm
                p.day!= article.created_at.getDate() + '日'
                p.mon!=(article.created_at.getMonth() + 1) + '月'
                p.yr!=article.created_at.getFullYear()

        h2.post_section_title
            a(href="/blog/"+article._id.toHexString())!= article.title
            .g-plusone-wrapper
                .g-plusone(data-size="small")

        div.post_content

            div.post_content_body!= article.body
            div.post_content_footer
                // a.first(href="/blog/"+article._id.toHexString()) Continue Reading...
                a(href="/blog/"+article._id.toHexString()) Comments(#{article.comments.length})

                if !readOnly
                    a#blogDelete(href="/blog/delete/"+article._id.toHexString())!= "Delete"
                    a(href="/blog/upsert/"+article._id.toHexString())!= "Edit"

    if (articles.length > 0)
        .item-pagination
          div(style='margin:10px auto;width:' + (6 + pageObj.displayPages.length)*40 + 'px')
            ul
                li
                  if pageObj.first == -1
                    span <<
                  else
                    a(href='?page=#{pageObj.first}&cid=#{cid}') <<
                li
                  if pageObj.previous == -1
                    span <
                  else
                    a(href="?page=#{pageObj.previous}&cid=#{cid}") <

                if (pageObj.less != null)
                  li
                    a(href="?page=#{pageObj.less}&cid=#{cid}") ...

                - each displayPageIndex in pageObj.displayPages
                  if displayPageIndex == pageObj.currentPage
                    li
                      span=(displayPageIndex+1)
                  else
                    li
                      a(href="?page=#{displayPageIndex}&cid=#{cid}")=(displayPageIndex+1)

                if (pageObj.more != null)
                  li
                    a(href="?page=#{pageObj.more}&cid=#{cid}") ...

                li
                  if (pageObj.next == -1)
                    span >
                  else
                    a(href='?page=#{pageObj.next}&cid=#{cid}') >
                li
                  if (pageObj.last == -1)
                    span >>
                  else
                    a(href="?page=#{pageObj.last}&cid=#{cid}") >>

